$minPadWidth = 768px;
$maxMobileWidth = 767px

$maxPadWidth = 1024px;

$minPcWidth = 1200px;
$minMobileWidth = 320px;

.flex {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
